# Redis
REDIS_PASSWORD=change-me

# Timescale/Postgres
POSTGRES_ADMIN_USER=postgres
POSTGRES_ADMIN_PASSWORD=change-me
POSTGRES_DATA_SOURCE_USER=rdp_data_source
POSTGRES_DATA_SOURCE_PASSWORD=change-me
POSTGRES_DATA_VIS_USER=rdp_data_vis
POSTGRES_DATA_VIS_PASSWORD=change-me
POSTGRES_DATA_PUB_VIS_USER=rdp_data_pub_vis
POSTGRES_DATA_PUB_VIS_PASSWORD=change-me

# Grafana
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=change-me

# GeoServer
GEOSERVER_ADMIN_USER=admin
GEOSERVER_ADMIN_PASSWORD=change-me
# Traefik TLS certificate mounts
PATH_TO_CERT_FILE=/absolute/path/to/reformers01.ewi.tudelft.nl.crt
PATH_TO_KEY_FILE=/absolute/path/to/reformers01.ewi.tudelft.nl.key
